Open the tsv file and load it into a dataframe (use pandas for this)

In [94]:
import pandas as pd
def  tsv_to_dataframe(lexicon_path="RaissoneIntegralSeulVI_simplified.tsv"):
     HEADER_COGNATE = "cognate"
     HEADER_ETYMOLOGY = "etymology"
     HEADER_FAMILY = "family"
     HEADER_FREQUENCY = "freq"
     HEADER_POS = "pos"
     HEADER_TOKEN = "token"
     HEADER_SENTIMENT = "sentiment"
     return pd.read_csv(lexicon_path,
                            sep="\t",
                            header=0,
                            index_col= 0,
                            # TODO add extra columns as necessary
                            usecols=[
                                HEADER_TOKEN,
                                HEADER_POS,
                                HEADER_ETYMOLOGY,
                                HEADER_FAMILY,
                                HEADER_FREQUENCY,
                                HEADER_COGNATE,
                                HEADER_SENTIMENT
                                # TODO add the cognate, sentiment column
                            ]
                        
                            )
df = tsv_to_dataframe()
print(df)

              pos        etymology  family  freq  cognate  sentiment
token
abaca           S         Oriental       1     1      1.0        0.0
abandonner      V          Germain       2  3529      1.0        0.0
abandonné       A          Germain       2  2247      1.0        0.0
abandon         S          Germain       2  1286      1.0        0.0
abandonnement   S          Germain       2    28      1.0        0.0
ban             S          Germain       2    95      1.0        0.0
banlieue        S          Germain       2   513      1.0        0.0
banlieusard     S          Germain       2     6      1.0        0.0
bannière        S          Germain       2   200      1.0        0.0
bannir          V          Germain       2    98      1.0        0.0
banni           A          Germain       2     1      1.0        0.0
bannissement    S          Germain       2    14      1.0        0.0
bandit          S          Germain       2   360      1.0        0.0
banditisme      S          Germain       2     4      1.0        0.0
contrebande     S          Germain       2    66      1.0        0.0
contrebandier   B          Germain       2    33      1.0        0.0
bande           S          Germain       2  1829      1.0        0.0
débandade       S          Germain       2   139      1.0        0.0
débandé         A          Germain       2    52      1.0        0.0
débander        V          Germain       2    26      1.0        0.0
abaque          S            Latin       3     2      1.0        0.0
abasourdi       A  Français ancien       4   138      0.0        0.0
abasourdir      V  Français ancien       4     6      0.0        0.0
abbé            S            Latin       5  4199      1.0        0.0
abbesse         S            Latin       5   134      1.0        0.0
abbatial        A            Latin       5    44      1.0        0.0
abbatille       S            Latin       5     1      1.0        0.0
abbaye          S            Latin       5   373      1.0        0.0
abcès           S            Latin       6   133      1.0       -1.0
abcéder         V            Latin       6     1      1.0        0.0
...            ..              ...     ...   ...      ...        ...
zoom            S          Anglais   10618     1      1.0        0.0
zoomer          V          Anglais   10618     1      1.0        0.0
zorille         S            Latin   10619     1      1.0        0.0
zostère         S             Grec   10620     2      1.0        0.0
zostérien       A             Grec   10620     1      1.0        0.0
zouave          S            Arabe   10621   150      1.0        0.0
zouaviller      V            Arabe   10621     1      1.0        0.0
zouk            S           Créole   10622     1      0.0        0.0
zouker          V           Créole   10622     1      0.0        0.0
zoulou          B            Patro   10623    14      1.0        0.0
zourna          S            Arabe   10624     1      1.0        0.0
zozo            S            Latin   10625     4      1.0       -1.0
zozoter         V         Onomatop   10626     2      0.0        0.0
zozoteur        S         Onomatop   10626     7      0.0        0.0
zut             G          Inconnu   10627     1      0.0        0.0
zutistes        S          Inconnu   10627     1      0.0        0.0
zwingliste      S            Patro   10628     2      0.0        0.0
zwinglien       B            Patro   10628     1      0.0        0.0
zwinglienne     B            Patro   10628     1      0.0        0.0
zwinglianisme   S            Patro   10628     1      0.0        0.0
zygites         S             Grec   10629     6      0.0        0.0
zygole          S             Grec   10630     1      1.0        0.0
zygoma          S             Grec   10631     1      1.0        0.0
zygomatique     A             Grec   10631     1      1.0        0.0
zygote          S             Grec   10632     1      1.0        0.0
homozygote      S             Grec   10632     1      1.0        0.0
hétérozygote    S             Grec   10632     1      1.0        0.0
zymase          S             Grec   10633     1      1.0        0.0
zymotique       A             Grec   10633     1      1.0        0.0
zyromskiste     S            Patro   10634     2      0.0        0.0

[63717 rows x 6 columns]

In [60]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

Color code


*   Green. The word is in the dictionary, but **is not** a cognate
*   Blue. The word is in the dictionary, but **is** a cognate
*   Red. The word **is not** in the dictionary

append over a list 
output = [] ""

In [91]:
df = tsv_to_dataframe()

from nltk import word_tokenize
tokens = word_tokenize("Carabane, également appelé Karabane, est à la fois une île et un village situés à l'extrême sud-ouest du Sénégal")
for token in tokens:
  
  if token in df.index:
    record = df.loc[token]
    if record["cognate"] is True:
        print("\033[0;34;47m\n","[It's Cognate]", token, record["cognate"])
    else:      
      print ("\033[0;32;47m\n","[No Cognate]", token, record["cognate"])
  
  else:
    print("\033[0;31;47m\n","[Don't know]", token)

ValueError: ignored

In [93]:
df = tsv_to_dataframe()

from nltk import word_tokenize
tokens = word_tokenize("Carabane, également appelé Karabane, est à la fois une île et un village situés à l'extrême sud-ouest du Sénégal")
for token in tokens:
  if token in df.index:
    record = df.loc[token]
    if record["cognate"] == 1:
      print("\033[0;34;47m\n","[It's Cognate]", token, record["cognate"])
    else:      
      print ("\033[0;32;47m\n","[No Cognate]", token, record["cognate"])
  
  else:
    print("\033[0;31;47m\n","[Don't know]", token)

ValueError: ignored

In [0]:
if record["cognate"] == 1:
      print("\033[0;34;47m\n","[It's Cognate]", token, record["cognate"])
    else:      
      print ("\033[0;32;47m\n","[No Cognate]", token, record["cognate"],)
  
  else:
    print("\033[0;31;47m\n","[Don't know]", token)